{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:react/recommended"],
  "env": {
    "browser": true
  },
  "plugins": ["react"],
  "rules": {
    "react/forbid-prop-types": "off",
    "no-console": "off"
  }
}
